

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }


  /* Hide the images by default */
.Slides {
    display: none;
  }
  
  /* slide image height */

  .Slides img {
    height: 500px;
  }


  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: red;
    background-color:transparent;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

  }

  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #fff;
  }



 /* caption text */
  .caption {
    color: #0e0c0c;
    padding: 15px 0px;
    
   
 
  }

  